#!/bin/zsh

# ----- { Aliases } ---------------------------------------------------------------------

# --- { DEV Tools } ---  

alias py="/usr/local/bin/python3"
alias zshconfig="mate ~/.zshrc"
alias ohmyzsh="mate ~/.oh-my-zsh"

# --- { JetBrains } --- | specific

alias goland=""
alias pycharm=""

# --- { System } --- | specific

alias sys-sleep="pmset displaysleepnow"
alias sys-save="open -b com.apple.ScreenSaver.Engine"
alias icons-on="defaults write com.apple.finder CreateDesktop true && killall Finder"
alias icons-off="defaults write com.apple.finder CreateDesktop false && killall Finder"

# --- { Uebersicht } --- | specific

alias ul-="ultralist"
alias ubersicht-conf="cd /Users/michalspano/Library/Application\ Support/Übersicht/widgets"

# --- { Personal Extensions } ---

alias wf="curl wttr.in/Senec\?1nqF"
alias obs="cd /Users/michalspano/Library/Mobile\ Documents/iCloud~md~obsidian/Documents"
alias bl-ys="open https://soundcloud.com/user-543006032/bladee-radio-stockholm-mix-w-yung-sherman-031221#t=460"

# ----- { Aliases } ---------------------------------------------------------------------